* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0b1224;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}
